.header {
  background-color: #ffffff;
}

.nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
}

.nav__logo {
  width: 100px;
  display: flex;
  align-items: center;
}

.nav__title {
  font-size: 2.3em;
  color: #000000;
  /* font-family: "Rubik Moonrocks", cursive; */
  font-family: "Alfa Slab One", cursive;
  margin-left: 10px;
}

.nav__img {
  width: 20%;
}

.form {
  display: flex;
  width: 150px;
  margin: 0 auto;
}

.form__input {
  width: 93%;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  /* box-shadow: inset 1px 2px 6px 5px var(--blue-main); */
  /* border-radius: 5px; */
  padding-left: 8px;
  margin-left: 8px;
}

.form__input::placeholder {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

.form__button {
  width: 25px;
  height: 25px;
  /* background-image: url("https://cdn-icons.flaticon.com/png/512/2311/premium/2311526.png?token=exp=1648920257~hmac=063fbe5ebacdd1ff3d7b2194dc4dded5"); */
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25313.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:active {
  transform: scale(0.8);
}

@media (min-width: 768px) {
  .nav {
    padding: 20px 0;
  }

  .nav__logo {
    width: 130px;
  }

  .form {
    width: 300px;
    font-size: 0.5em;
  }

  .form::placeholder {
    font-size: 1em;
  }

  .nav__link {
    font-size: 1em;
    font-weight: 600;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    color: #000000;
    transition: all 0.1s ease-in-out 0.2s;
  }

  .nav__link:first-of-type {
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .nav {
    width: 1300px;
    padding: 20px 0;
  }

  .nav__logo {
    width: 200px;
  }

  .form {
    width: 400px;
  }

  .form::placeholder {
    font-size: 3em;
  }

  .nav__link {
    font-size: 1.3em;
  }

  .nav__link:hover {
    border-bottom: 4px solid #000000;
  }
}
