.header {
  background-color: #dd0a0a;
}

/* .header * {
  outline: 1px solid var(--white);
} */

.nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
}

.nav__logo {
  width: 100px;
}

.nav__img {
  width: 100%;
  display: block;
}

.form {
  display: flex;
  width: 150px;
  margin: 0 auto;
}

.form__input {
  width: 93%;
  color: var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--white);
  box-shadow: inset 1px 2px 6px 5px var(--blue-main);
  border-radius: 5px;
  padding-left: 8px;
}

.form__input::placeholder {
  color: var(--white);
}

.form__button {
  cursor: pointer;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
}

.form__button:after {
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: #fff;
  display: block;
  content: "";

  transform: rotate(45deg);
  transform-origin: -4px 18px;
}

.form__button:active {
  transform: scale(0.8);
}

@media (min-width: 768px) {
  .nav {
    padding: 20px 0;
  }

  .nav__logo {
    width: 130px;
  }

  .form {
    width: 300px;
    font-size: 1em;
  }

  .form::placeholder {
    font-size: 1em;
  }

  .nav__link {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    margin-left: 0.8em;
  }

  .nav__link:first-of-type {
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .nav {
    padding: 20px 0;
  }

  .nav__logo {
    width: 200px;
  }

  .form {
    width: 400px;
  }

  .form::placeholder {
    font-size: 3em;
  }

  .nav__link {
    font-size: 1.3em;
  }

  .nav__link:hover {
    border-bottom: 2px solid var(--white);
  }
}
