.main__Container {
  display: flex;
  min-height: max-content;
  min-width: 1000px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.card__Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: max-content;
  min-width: 100%;
  padding: 10px;
}

.card__Front {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 330px;
  max-height: fit-content;
  max-width: fit-content;
  padding: 10px;
  /* background-color: #f9f7f6; */
  background-color: #f9f7f659;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651);
}

.breed {
  /* background-color: #f9f7f6; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
}

.breed__Image {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.651);
  transform: translate(-10%, -10%);
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}

.breed__Name {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  width: 300px;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translate(-20%, -10%);
}

.temperament__Container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-content: flex-start;
  width: 400px;
  height: 100%;
}

.temperament__Container .label {
  background-color: #101d2c;
  color: #fff;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

/* -------------------------------------------------------------- */

.temperament__Container h5 {
  float: left;
  position: relative;
  text-transform: uppercase;
  background-color: #1abc9c; /* el color de fondo que se nos ocurra */
  /* la altura */
  height: 24px;
  line-height: 24px;
  /* el ancho lo resolvemos con paddings horizontales */
  padding: 0 10px 0 12px;
  /* la separación entre etiquetas */
  margin-top: 10px;
  margin-left: 20px;
  /* definiciones del texto */
  color: #000000;
  font-size: 12px;
  font-family: Arial;
  text-decoration: none;
  /* una curva suave a laderecha */
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* esto creará el triángulo de la izquierda */
.temperament__Container h5:before {
  border-color: transparent #1abc9c transparent transparent;
  border-style: solid;
  /* el borde es igual a la mitad de la altura definida anteriormente */
  /* de ese modo será un triángulo equilátero */
  border-width: 12px 12px 12px 0;
  content: "";
  float: left;
  left: -12px; /* lo movemos tanto como el valor dado al borde */
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
/* esto, creará el circulito que precede a los textos */
.temperament__Container h5:after {
  background-color: #fff; /* el color */
  content: "";
  float: left;
  left: 0;
  position: absolute;
  top: 10px; /* lo ubicamos centrado en al mitad de la altura */
  /* el ancho y la altura son iguales para que sea un círculo */
  height: 4px;
  width: 4px;
  /* el radio de la curva es la mitad de su tamaño */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* efectos hover */
.temperament__Container h5:hover {
  background-color: #555;
}
.temperament__Container h5:hover:before {
  border-color: transparent #555 transparent transparent;
}
/* -------------------------------------------------------------- */

.btn__Container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(70%);
}

.btn {
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.651);
  background-color: #0ad48b;
  color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #05ac72;
}
