/* .menu__button {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  padding: 10px;
} */

.menu__background {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.911);
  z-index: 9;
}

.menu__card {
  margin: 0 auto;
  margin-top: 120px;
  padding: 10px 10px 20px 10px;
  width: 250px;
  height: 200px;
  background-color: hsl(217, 27%, 13%);
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.menu__close {
  margin-left: auto;
  border: none;
  color: var(--white);
  font-size: 1em;
  background-color: transparent;
}

.nav__link {
  font-size: 1em;
  color: var(--white);
  text-decoration: none;
  display: flex;
  /* margin-left: 0.8em; */
  background-color: var(--blue-gradient);
  padding: 10px;
  /* margin: 0 auto; */
  border: none;
  width: 200px;
  justify-content: center;
}

.menu__button__container {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.button__bar1 {
  width: 25px;
  height: 5px;
  background-color: #000000;
  margin-top: 5px;
}
